*.o
*.mod
*.swp
*.orig

calc_wannier
calc_gw
calc_j3d
calc_w3d
calc_chiqw
calc_tr

dir-*

util/xtapp2respack/wfn2respack
util/qe2respack/qe2respack


sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.bspot
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.kf
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.lpt
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.nkmkg
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.nsykz
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.nwk
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.pe
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.pots
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.qg
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.rho
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.sampk
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.str
sample/xtapp/La2CuO4.bct.6x6x6/La2CuO4.wfn
sample/xtapp/La2CuO4.bct.6x6x6/fort.10
sample/xtapp/La2CuO4.bct.6x6x6/log.La2CuO4-cgmrpt
sample/xtapp/La2CuO4.bct.6x6x6/log.La2CuO4-inipot

tmp/
ref/
build/
